language: node_js
node_js:
  - "6"

sudo: false
branches:
  only:
    - master

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test

cache:
  directories:
    - node_modules

matrix:
  include:
    - env: TEST_TYPE=node
      script:
      - npm test
      - uptime && vmstat -S M
    - env: TEST_TYPE=native
      script:
      - mkdir build_native
      - cd build_native
      - cmake ..
      - make
      - ./unit_tests
      - uptime && vmstat -S M
